## Requirement of Submission
1. Please directly write your code in this file and submit your `.ipynb` file to Brightspace. Do NOT accept `.py` files.
2. NO extended deadline.
3. Please check your answers before the submission.

# Homework 1

## 1. List
Print the element which occurs at least 3 consecutive times in a Python list.

Example :

Input : [4, 5, 5, 5, 3, 8]

Output : 5

Input : [1, 1, 1, 64, 23, 64, 22, 22, 22]

Output : 1, 22

In [11]:
def print_3_consecutive(lst):
  i = 0
  output = []
  while i < len(lst):
    if i+2 < len(lst) and lst[i] == lst[i+1] and lst[i+2] == lst[i]:
      output.append(str(lst[i]))
    while i+1 < len(lst) and lst[i] == lst[i+1]:
      i += 1
    i += 1
  print (', '.join(output))

print_3_consecutive([4, 5, 5, 5, 3, 8])
print_3_consecutive([1, 1, 1, 64, 23, 64, 22, 22, 22])
print_3_consecutive([])

5
1, 22

## 2. Filter

Write a Python program that filters out prime numbers from a list of integers using the filter function.

In [16]:
l = list(range(1,100))

def is_prime(n):
  if n == 0 or n == 1:
    return False
  if n>0 and n < 4:
    return True
  for i in range(2,n):
    if n%i == 0:
      return False
  return True

prime_list = list(filter(lambda x: is_prime(x), l))

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## 3. Lambda
Given a list, please sort the list according to the column using the lambda approach.

Examples:

Input : array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

Output :
* Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
* Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
* Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

Input : array = [[‘java’, 1995], [‘c++’, 1983], [‘python’, 1989]]

Output :
* Sorted array specific to column 0, [[‘c++’, 1983], [‘java’, 1995], [‘python’, 1989]]
* Sorted array specific to column 1, [[‘c++’, 1983], [‘python’, 1989], [‘java’, 1995]]

In [25]:
def print_sorted_elements(array, column):
  sort_element = list(sorted(array, key=lambda array : array[column]))
  return sort_element

array = [['java', 1995], ["c++", 1983], ["python", 1989]]
print_sorted_elements(array, 1)

[['c++', 1983], ['python', 1989], ['java', 1995]]

## 4. Dictionary
4.1 \
Given a dictionary with key-value pairs, remove all the keys with values greater than Key, not including mixed values.

Input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, Key = 7

Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

Explanation : All values greater than K are removed. Mixed value is retained.

Input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, Key = 1

Output : {‘geeks’ : ‘CS’}

Explanation : Only Mixed value is retained.

In [29]:
def remove_greater_than_key(pairs, key):
  output = pairs.copy()
  for k, value in pairs.items():
    if isinstance(value, int) and value >= key:
      del output[k]
  return output

test_dict = {'Gfg' : 3,'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
Key = 1
remove_greater_than_key(test_dict,Key)

{'geeks': 'CS'}

4.2\
Using dictionary comprehension, create a dictionary where the key is a number divisible by 2 in a range of 0-10, and it's value is the square of the number.

In [30]:
def create_squared_dict():
  squared_dict = {key:key**2 for key in range(11) if key % 2 == 0}
  return squared_dict

create_squared_dict()

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

## 5. Pattern
Given an integer n, write a python program to print diamond using loops and mathematical formulations. The minimum value of n should be greater than 4.

For size = 5

      * * *   
    * * * * *
      * * *   
        *  

For size = 8

      * * * * * *   
    * * * * * * * *
      * * * * * *   
        * * * *     
          * *       

For size = 11

      * * * * * * * * *   
    * * * * * * * * * * *
      * * * * * * * * *   
        * * * * * * *     
          * * * * *       
            * * *         
              *

In [35]:
def diamond(n):
  if n < 5:
    print ("Value should be greater than 4")
    return
  print('  '+ '* '*(n-2) + '  ')
  for i in range(n,0,-2):
    print(' '*((n-i))+'* '*(i)+' '*((n-i)))

diamond(2)
print()
diamond(9)
print()
diamond(16)

Value should be greater than 4

  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

  * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
    * * * * * * * * * * * *
      * * * * * * * * * *
        * * * * * * * *
          * * * * * *
            * * * *
              * *

## 6. Tuple
Given two list of tuples, write a Python program to update ‘list1’ according to the ‘list2’ and return an updated list.

Examples:

Input : list1 = [('x', 0), ('y', 5)]

list2 = [('x', 100), ('y', 200)]

Output : [('x', 100), ('y', 200)]

Input : list1 = [('a', 0), ('b', 0), ('c', 0)]

list2 = [('a', 1), ('b', 2)]

Output :[('a', 1), ('b', 2), ('c', 0)]

In [38]:
def update_list(list1, list2):
  dict1 = dict(list1)
  dict2 = dict(list2)
  for key, value in list1:
    if key in dict2:
      dict1[key] = dict2[key]
  return list(zip(dict1.keys(),dict1.values()))

update_list([('x', 0), ('y', 5)],[('x', 100), ('y', 200)])

[('x', 100), ('y', 200)]

## 7. Reduce

Use *reduce* method to calculate the factorial n (n!)

In [41]:
from functools import reduce
def factorial(n):
  if n < 1:
    return "Value must be at least 1"
  return reduce(lambda x, y: x*y, range(1,n+1))

factorial(5)

120

## 8. Decorator
 Write a Python program that implements a decorator to handle exceptions raised by a function and provide a default response.

 For example:

 When x/y and y=0, print "Default response: An error occurred." instead of raising an error.

In [43]:
def decorate_1(old_func):
  def func(*args, **kwargs):
    try:
      old_func(*args, **kwargs)
    except Exception:
      print ("Default response: An error occurred.")
  return func

@decorate_1
def divide(x,y):
  print(x/y)

divide(8,0)
divide(9,3)

@decorate_1
def addition(x,y,z):
  print(x+y+z)

addition(1,2,"shrey")

Default response: An error occurred.
3.0
Default response: An error occurred.

## 9. Decorator

Write a decorator to decorate the result of "to print" with 10 * above and below.

For example:

\*******************\****************\***********\
to print\
\*******************\****************\***

In [ ]:
def decorate_2(old_func):
    def func(*args, **kwargs):
      print('*' * 10)
      old_func(*args, **kwargs)
      print('*' * 10)
    return func

@decorate_2
def to_print():
  print("to print")

to_print()

**********
to print
**********

## 10. Class

Write a Python class Employee with attributes like emp_id, emp_name, emp_salary, and emp_department and methods like calculate_emp_salary, emp_assign_department.

Sample Employee Data:

"ADAMS", "E7876", 50000, "ACCOUNTING"\
"JONES", "E7499", 45000, "RESEARCH"\
"MARTIN", "E7900", 50000, "SALES"\
"SMITH", "E7698", 55000, "OPERATIONS"\
Use '\_\_str\_\_' to print the information of this object.   \
Use 'assign_department' method to change the department of an employee.\
Use 'calculate_emp_salary' method takes two arguments: salary and hours_worked, which is the number of hours worked by the employee. If the number of hours worked is more than 50, the method computes overtime and adds it to the salary.

Overtime is calculated as following formula:\
overtime = hours_worked - 50\
Overtime amount = (overtime * (salary / 50))

In [46]:
class Employee:

  def __init__(self, emp_name, emp_id, emp_salary, emp_department):
    self.emp_id = emp_id
    self.emp_name = emp_name
    self.emp_salary = emp_salary
    self.emp_department = emp_department

  def __str__(self):
    information = f'Employee {self.emp_id}\'s name is {self.emp_name.title()} and they work in the {self.emp_department.title()} department with a salary of {self.emp_salary}.'
    return information

  def assign_department(self, new_dept):
    if isinstance(new_dept, str):
      self.emp_department = new_dept
    else:
      raise ValueError("Incorrect Input Type")

  def calculate_emp_salary(self, salary, hours_worked):
    self.emp_salary = salary
    if hours_worked > 50:
      overtime = hours_worked - 50
      self.emp_salary += int(overtime * (salary / 50))

adams = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
jones = Employee("JONES", "E7499", 45000, "RESEARCH")
martin = Employee("MARTIN", "E7900", 50000, "SALES")
smith = Employee("SMITH", "E7698", 55000, "OPERATIONS")
print(adams, jones, martin, smith, sep="\n")
adams.assign_department("FINANCE")
print(adams)
adams.calculate_emp_salary(50000, 30)
print(adams)
adams.calculate_emp_salary(50000, 57)
print(adams)

Employee E7876's name is Adams and they work in the Accounting department with a salary of 50000.
Employee E7499's name is Jones and they work in the Research department with a salary of 45000.
Employee E7900's name is Martin and they work in the Sales department with a salary of 50000.
Employee E7698's name is Smith and they work in the Operations department with a salary of 55000.
Employee E7876's name is Adams and they work in the Finance department with a salary of 50000.
Employee E7876's name is Adams and they work in the Finance department with a salary of 50000.
Employee E7876's name is Adams and they work in the Finance department with a salary of 57000.